body {
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-header {
    height: 90vh;
    background-image: url('../img/man-1.jpg');
    display: flex;
    background-size: cover;   
    align-items: center;
}
.header-content {
    
}
h2, h3 {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 40px;
}
h2 {
    font-size: 30px;
}
